html {
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  border-style: none none solid none;
  position:static;
  width: 100%;
  background: none;
  opacity: 0.85;
  height: 50px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style: none;
  margin: 40px;
  padding-bottom: 20px;
  font-size: 200%;
}

.menu-items a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-family: 'Andika';
}

.menu-items a:hover {
  color: #454545;
  transition: color 0.3s ease-in-out;
}

/*Main Page*/
.main-page h1{
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: 100;
  
} 
.main-page h2{
  padding-top: 20px;
  font-family: 'Fira Sans Extra Condensed';
  
}
.main-page p{
  padding-top: 20px;
}
.main-page-img img{
  margin-right: 6.25%;
  margin-left: 6.25%;
  padding-top: 5.64%;
  float: right;

}
.button a{
  color: #000000;
}
.button{
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 25px;
  margin-top: 30px;
  font-family: 'Andika';
  
  &.type1{

    &.type1::after,
    &.type1::before{
      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 40%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
    }
    &.type1::after{
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: black;
      border-right-color: black;
    }
    &.type1::before{
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: black;
      border-left-color: black;
    }
    &.type1:hover:after
    {
      width: 100%;
      border-top-color: transparent;
      border-left-color: black;
      border-bottom-color: black;
      border-right-color: transparent;
      
    }
    &.type1:hover:before{
      width: 100%;

      border-bottom-color: transparent;
      border-right-color: black;
      border-top-color: black;
      border-left-color: transparent;
      
    }
  }    
}

/*About Me Page*/
.menu h3{
  align-items: center;
  text-align: center;
  font-family: 'Andika';
  font-size: 50px;
  font-weight: 200;
}
.menu hr{
  margin-left: none;
  margin-right: none;
  display:block; 
  height: 1px; 
  border:0; 
  border-top: 2px solid #000000;
}
.about-me-page p{
  margin-left: none;
  margin-right: none;
  padding-bottom: 20px;
  
} 

/*Portfolio Page*/
.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 220px;
}

.circle-bg {
  fill: none;
  stroke: #fff;
  stroke-width: 2.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: rgb(81, 45, 202);
}

.circular-chart.green .circle {
  stroke: rgb(81, 45, 202);
}

.circular-chart.blue .circle {
  stroke: rgb(81, 45, 202);
}

.percentage {
  fill: #000;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
  position: relative;
}
.percentage2 {
  fill: #000;
  font-family: sans-serif;
  font-size: 0.3em;
  position: relative;
}
.portfolio-page .skill{
  
  padding-bottom: 20px;
  text-align: center;
} 
.portfolio-page p{
  
  padding-top: 20px;
}

/*Contacts Page*/
.contacts-page p{
  
  padding-bottom: 20px; 
}
.contacts-page img{
  padding-right: 20px;
}
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width:576px) {
    .navbar {
        opacity: 0.95;
    }
    
    .navbar-container input[type="checkbox"],
      .navbar-container .hamburger-lines {
        display: block;
      }
    
      .navbar-container {
        display: block;
        position: relative;
        height: 64px;
      }
    
      .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
      }
    
      .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    
      .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
      }
    
      .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
      .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
    
      .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
    
      .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        /*box-shadow: 5px 0px 10px 0px #000000;*/
        border-style:none solid none none;
      }
    
      .navbar .menu-items li {
        margin-left: 30%;
        margin-bottom: 1.5rem;
        font-size: 150%;
        font-weight: 30%;
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
    
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
      }

      /*Main Page*/
      .main-page{
        padding-top: 7.12%;
        margin-left: 10.25%;
        margin-right: 10.25%;
        margin-bottom: 10.25%;
        font-size: 50%;
      }
      .main-page h1{
        font-size: 30px;
      }
      .main-page h2{
        font-size: 40px;
      }
      .main-page-img img{
        display:none;
      }

      /*About Me*/
      .about-me-page{
        margin-left: 10.25%;
        margin-right: 10.25%;
        margin-bottom: 10.25%;
        padding-top: 7.12%;
      }
      .about-me-page p{
        font-size: 170%;
      }
      .about-me-page-img img{
        margin-left: none;
        padding-bottom: 20px;
        width: 250px;
        height: 350px;
        float:none;
      }
      .about-me-page-img figure{
        text-align: center;
      }

      /*Portfolio*/
      .flex-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
      }
      .circular-chart {
        max-width: 95%;
        max-height: 220px;
      }
      .portfolio-page{
        padding-top: 7.12%;
        margin-left: 10.25%;
        margin-right: 10.25%;
        margin-bottom: 10.25%;
      }
      .portfolio-page .skill{
        font-size: 190%;
      }
      .portfolio-page p{
        font-size: 190%;
      }
      .portfolio-page-img img{
        margin-left: none;
        float: none;
        width: 170px;
        height: 320px;
      }
      .portfolio-page-img figure{
        text-align: center;
      }

      /*Contacts*/
      .contacts-page{
        padding-top: 7.12%;
        margin-left: 10.25%;
        margin-right: 10.25%;
        margin-bottom: 10.25%;
      }
      .contacts-page p{
        font-size: 190%;       
      }
      .contacts-page img{
        width: 30%;
        height: 30%;
      }
  }
  
  /* Small devices (portrait tablets and large phones, 576px and up) */
  @media only screen and (min-width:576px) {
    .menu-items li{
      font-size: 160%;
    }

    /*Main Page*/
    .main-page{
      padding-top: 7.12%;
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
      font-size: 200%;
    }
    .main-page h1{
      font-size: 35px;
    }
    .main-page h2{
      font-size: 45px;
    }
    .main-page-img img{
      /*display: none;*/
      width: 35%;
      height: 38%;
      margin-right: 10.25%;
      margin-left: 10.25%;
      padding-top: 7.12%;
    }
    
    /*About Me*/
    .about-me-page{
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
      padding-top: 7.12%;
    }
    .about-me-page p{
      font-size: 200%;
    }
    .about-me-page-img img{
      margin-left: 10.25%;
      float: right;
      width: 38.5%;
      height: 55.8%;
    }

    /*Portfolio*/
    .flex-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 60%;
    }
    .circular-chart {
      max-width: 80%;
      max-height: 220px;
    }
    .portfolio-page{
      padding-top: 7.12%;
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
    }
    .portfolio-page .skill{
      font-size: 200%;
    }
    .portfolio-page p{
      font-size: 200%;
    }
    .portfolio-page-img img{
      margin-left: 10.25%;
      float: right;
      width: 29.7%;
      height: 60%;
    }

    /*Contacts*/
    .contacts-page{
      padding-top: 7.12%;
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
    }
    .contacts-page p{
      font-size: 200%;       
    }
    .contacts-page img{
      width: 20%;
      height: 20%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width:768px) {
    .menu-items li{
      font-size: 200%;
    }
    /*Main Page*/
    .main-page{
      padding-top: 7.12%;
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
      font-size: 200%;
    }
    .main-page h1{
      font-size: 40px;
    }
    .main-page h2{
      font-size: 50px;
    }
    .main-page-img img{
      width: 30%;
      height: 33%;
      padding-top: 7.12%;
      margin-left: 10.25%;
      margin-right: 10.25%;
    }
    
    /*About Me*/
    .about-me-page{
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
    }
    .about-me-page p{
      font-size: 200%;
    }
    .about-me-page-img img{
      margin-left: 10.25%;
      float: right;
      width: 270px;
      height: 350px;
    }
    /*Portfolio*/
    .flex-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 60%;
    }
    .circular-chart {
      max-width: 80%;
      max-height: 220px;
    }
    .portfolio-page{
      padding-top: 7.12%;
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
    }
    .portfolio-page .skill{
      font-size: 200%;
    }
    .portfolio-page p{
      font-size: 200%;
    }
    .portfolio-page-img img{
      margin-left: 10.25%;
      float: right;
      width: 29.7%;
      height: 60%;
    }

    /*Contacts*/
    .contacts-page{
      padding-top: 7.12%;
      margin-left: 10.25%;
      margin-right: 10.25%;
      margin-bottom: 10.25%;
    }
    .contacts-page p{
      font-size: 200%;       
    }
    .contacts-page img{
      width: 15%;
      height: 15%;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width:992px){
    /*Main Page*/
    .main-page{
      padding-top: 3.12%;
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
      font-size: 200%;
    }
    .main-page h1{
      font-size: 55px;
    }
    .main-page h2{
      font-size: 60px;
    }
    .main-page-img img{
      width: 300px;
      height: 300px;
      padding-top: 3.12%;
      margin-left: 6.25%;
      margin-right: 6.25%;
    }
   
    /*About Me*/
    .about-me-page{
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
      padding-top: 3.12%;
    }
    .about-me-page p{
      font-size: 200%;
    }
    .about-me-page-img img{
      margin-left: 6.25%;
      float: right;
      width: 270px;
      height: 370px;
    }
    /*Portfolio*/
    .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    }
    .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 220px;
    }
    .portfolio-page{
      padding-top: 3.12%;
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
    }
    .portfolio-page .skill{
      font-size: 200%;
    }
    .portfolio-page p{
      font-size: 200%;
    }
    .portfolio-page-img img{
      margin-left: 6.25%;
      float: right;
      width: 200px;
      height: 400px;
    }

    /*Contacts*/
    .contacts-page{
      padding-top: 3.12%;
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
    }
    .contacts-page p{
      font-size: 200%;
    }
    .contacts-page img{
      width: 10%;
      height: 10%;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width:1200px) {
    /*Main Page*/
    .main-page{
      /*padding: 60px;*/
      padding-top: 3.12%;
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
      font-size: 200%;
    }
    .main-page-img img{
      width: 350px;
      height: 350px;
    }
    .main-page h1{
      font-size: 55px;
    }
    .main-page h2{
      font-size: 60px;
    }

    /*About Me*/
    .about-me-page{
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
    }
    .about-me-page p{
      font-size: 200%;
    }
    .about-me-page-img img{
      margin-left: 6.25%;
      float: right;
      width: 300px;
      height: 400px;
    }

    /*Portfolio*/
    .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    }
    .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 220px;
    }
    .portfolio-page{
      padding-top: 3.12%;
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
    }
    .portfolio-page .skill{
      font-size: 200%;
    }
    .portfolio-page p{
      font-size: 200%;
    }
    .portfolio-page-img img{
      margin-left: 6.25%;
      float: right;
      width: 200px;
      height: 400px;
    }

    /*Contacts*/
    .contacts-page{
      padding-top: 3.12%;
      margin-left: 6.25%;
      margin-right: 6.25%;
      margin-bottom: 6.25%;
    }
    .contacts-page p{
      font-size: 200%;
    }
    .contacts-page img{
      width: 10%;
      height: 10%;
    }
  }